<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head.html :: head"/>

<body>

<nav th:replace="fragments/head.html :: navbar"/>

<div class="container">
    <div class="row py-2">
        <div class="col-12">
            <a class="btn btn-primary" th:href="@{product/new}">Добавить продукт</a>
        </div>

        <div class="col-12 mt-3">
            <form class="form-inline" th:method="get">

                <div class="form-group mb-2 mr-2">
                    <label for="productNameFilter" class="sr-only">ProductName filter</label>
                    <input type="text" class="form-control" id="productNameFilter" th:value="${param.productNameFilter}"
                           name="productNameFilter" placeholder="ProductName filter">
                </div>

                <div class="form-group mb-2 mr-2">
                    <label for="descriptionFilter" class="sr-only">Description filter</label>
                    <input type="text" class="form-control" id="descriptionFilter" th:value="${param.descriptionFilter}"
                           name="descriptionFilter" placeholder="Фильтр по описанию">
                </div>

                <div class="form-group mb-2 mr-2">
                    <label for="priceMaxFilter" class="sr-only">Price max</label>
                    <input type="number" class="form-control" id="priceMaxFilter" th:value="${param.priceMaxFilter}"
                           name="priceMaxFilter" placeholder="Price max filter">
                </div>

                <div class="form-group mb-2 mr-2">
                    <label for="priceMinFilter" class="sr-only">Age max</label>
                    <input type="number" class="form-control" id="priceMinFilter" th:value="${param.priceMinFilter}"
                           name="priceMinFilter" placeholder="Price min filter">
                </div>

                <button type="submit" class="btn btn-primary mb-2">Применить</button>
            </form>
        </div>

        <div class="col-12">
            <table class="table table-bordered my-2">
                <thead>
                    <tr>
                        <th scope="col">Id
                            <a th:href="@{/product(page=${param.page}, size=${param.size},
                           productNameFilter=${param.productNameFilter}, descriptionFilter=${param.descriptionFilter},
                           priceMinFilter=${param.priceMinFilter}, priceMaxFilter=${param.priceMaxFilter},
                           sortField='id')}"><i class="fa fa-sort-down"></i></a>
                        </th>
                        <th scope="col">Product Name
                            <a th:href="@{/product(page=${param.page}, size=${param.size},
                           productNameFilter=${param.productNameFilter}, descriptionFilter=${param.descriptionFilter},
                           priceMinFilter=${param.priceMinFilter}, priceMaxFilter=${param.priceMaxFilter},
                           sortField='productName')}"><i class="fa fa-sort-down"></i></a>
                        <th scope="col">Description
                        <a th:href="@{/product(page=${param.page}, size=${param.size},
                           productNameFilter=${param.productNameFilter}, descriptionFilter=${param.descriptionFilter},
                           priceMinFilter=${param.priceMinFilter}, priceMaxFilter=${param.priceMaxFilter},
                           sortField='description')}"><i class="fa fa-sort-down"></i></a>
                        <th scope="col">Price
                        <a th:href="@{/product(page=${param.page}, size=${param.size},
                           productNameFilter=${param.productNameFilter}, descriptionFilter=${param.descriptionFilter},
                           priceMinFilter=${param.priceMinFilter}, priceMaxFilter=${param.priceMaxFilter},
                           sortField='price')}"><i class="fa fa-sort-down"></i></a>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                <tr th:if="${products.hasContent()}" th:each="product : ${products.content}">
                    <th th:text="${product.id}" scope="row">1</th>
                    <td th:text="${product.productName}">Alex</td>
                    <td th:text="${product.description}">Alex</td>
                    <td th:text="${product.price}">Alex</td>
                    <td>
                        <a class="btn btn-success" th:href="@{/product/{id}(id = ${product.id})}"><i class="fas fa-edit"></i></a>
                        <form class="d-inline" th:method="delete" th:action="@{/product/{id}(id = ${product.id})}">
                            <button type="submit" class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
                        </form>
                    </td>
                </tr>

                <tr th:unless="${products.hasContent()}">
                    <td colspan="5">No data</td>
                </tr>

                </tbody>
            </table>
        </div>

        <div class="col-12">
            <nav aria-label="...">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" th:if="!${products.number <= 0}"
                           th:href="@{/product(page=${(products.number + 1) - 1}, size=${products.size},
                           productNameFilter=${param.productNameFilter}, descriptionFilter=${param.descriptionFilter},
                           priceMaxFilter=${param.priceMaxFilter}, priceMinFilter=${param.priceMinFilter},
                           sortField=${param.sortField})}">Previous</a>
                    </li>

                    <li th:each="num: ${#numbers.sequence(1, products.totalPages)}"
                        th:classappend="${num == products.number + 1} ? 'active'"
                        class="page-item">
                        <a th:text="${num}"
                           th:href="@{/product(page=${num}, size=${products.size},
                           productNameFilter=${param.productNameFilter}, descriptionFilter=${param.descriptionFilter},
                           priceMaxFilter=${param.priceMaxFilter}, priceMinFilter=${param.priceMinFilter}, sortField=${param.sortField})}"
                           class="page-link">1<span th:if="${num == products.number + 1}" class="sr-only">(current)</span></a>
                    </li>

                    <li class="page-item">
                        <a class="page-link" th:if="!${products.number >= products.totalPages - 1}"
                           th:href="@{/product(page=${(products.number + 1) + 1}, size=${products.size},
                           productNameFilter=${param.productNameFilter}, descriptionFilter=${param.descriptionFilter},
                           priceMaxFilter=${param.priceMaxFilter}, priceMinFilter=${param.priceMinFilter},
                           sortField=${param.sortField})}">Next</a>
                    </li>
                </ul>
            </nav>
        </div>

    </div>
</div>

<th:block th:replace="fragments/footer.html :: scripts"/>
</body>
</html>